{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login com QR Code</title>
    <script src="https://cdn.jsdelivr.net/npm/html5-qrcode/minified/html5-qrcode.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/lg_qrcode.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/lex_favico.ico' %}"/>
</head>
<body>    
    <form id="qrcode-login-form" action="{% url 'login_qrcode' %}" method="POST">{% csrf_token %}
        <input type="hidden" name="username" id="username">
    </form>
    
    <header>
        <p>É um admin? <a href="{% url 'login_text' %}">Acesse aqui</a></p>       
    </header>

    <div class="container-fluid">
        <!-- Botão para iniciar o scan -->
        <button type="button" class="btn btn-success" id="start-scan-btn">Iniciar Scan</button>
    </div>
    <!--Container html-->
    <div class="container-fluid">
        <!-- Elemento onde o QR code será lido -->
        <div id="reader"></div>
    </div>
    
    <!-- Exibir o resultado do QR code -->
    <p id="qr-reader-result"></p>

    <script>
        let isScanning = false;
        let html5QrcodeScanner;

        function onScanSuccess(decodedText, decodedResult) {
            // Preenche o campo hidden com o valor do QR code
            document.getElementById('username').value = decodedText;

            // Envia o formulário como POST
            document.getElementById('qrcode-login-form').submit();
        }

        function onScanFailure(error) {
            console.warn(`Code scan error = ${error}`);
        }

        document.getElementById('start-scan-btn').addEventListener('click', function() {
            let scanButton = document.getElementById('start-scan-btn');
            
            if (!isScanning) {
                // Iniciar o scanner
                html5QrcodeScanner = new Html5Qrcode("reader");
                html5QrcodeScanner.start(
                    { facingMode: "user" }, // Use a câmera frontal
                    {
                        fps: 10,    // Frame-per-second para leitura do QR code
                        qrbox: 250  // Tamanho da caixa de leitura do QR code
                    },
                    onScanSuccess,
                    onScanFailure
                ).catch(err => {
                    console.error(`Erro ao iniciar a leitura do QR code: ${err}`);
                });

                // Atualizar o texto do botão
                scanButton.textContent = "Parar Scan";
                isScanning = true;
            } else {
                // Parar o scanner
                html5QrcodeScanner.stop().then(() => {
                    console.log("Scan parado.");
                }).catch(err => {
                    console.error(`Erro ao parar o scan: ${err}`);
                });

                // Atualizar o texto do botão
                scanButton.textContent = "Iniciar Scan";
                isScanning = false;
            }
        });
    </script>
</bodyd=>
</html>
