<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página em Manutenção</title>
</head>
<body>
    <center>
        <div class="container">
            <div class="content">
                <h1>Estamos em Manutenção</h1>
                <p>Voltaremos em breve. Obrigado pela paciência!</p>
                <div class="loader"></div>
            </div>
        </div>
    </center>
</body>
</html>
