body{
    background-image: url(../img/dash-lex.png);
}
center{
    margin-top: 250px;
}
h1{
    color: #000;
    font-size: 60px;
}
.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    margin-top: 5%;
    width: 500px;
}
.container-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.nav-links{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 98px;
}
.form-control{
    font-size: 28px;
}
.btn-success{
    font-size: 34px;
}
.link_branco{
    font-size: 28px;
    color: #000;
    text-decoration: none;
}
@media (min-width: 1366px){
    body{
        background-image: url(../img/response_notebook.png);
    }
    center{
        margin-top: 10%;
    }
    h1{
        font-size: 40px;
    }
    form{
        margin-top: 0%;
    }
    #clock{
        font-size: 78px;
    }
    .form-control{
        font-size: 18px;
    }
    .btn-success{
        font-size: 24px;
    }
    .link_branco{
        font-size: 28px;
        color: #000;
        text-decoration: none;
    }
}
@media (min-width: 1920px){
    body{
        background-image: url(../img/desktop-lex.png);
    }
    center{
        margin-top: 200px;
    }
}