body{
    background-image: url(../img/tabs-grandes-lex.png);
    padding-top: 40%;
}
h1, h2{
    color: #000;
}
button{
    margin-top: 50px;
    margin-bottom: 50px;
}
.link_branco{
    font-size: 28px;
    color: #000;
    text-decoration: none;
}

@media (min-width: 1366px){
    body{
        background-image: url(../img/response_notebook.png);
        padding-top: 10%;
    }
}
@media (min-width: 1920px) {
    body{
        background-image: url(../img/desktop-lex.png);
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 300px;
        margin-top: 200px;
    }
    input{
        transition: 0.5s;
    }
    input:hover{
        color: #0A58CA;
    }
    button{
        margin-bottom: 20px;
    }
    button a{
        text-decoration: none;
        color: black;
    }
}