body{
    background-image: url(../img/tabs-grandes-lex.png);
}
header{
    font-size: 30px;
    padding: 10px;
    margin-bottom: 25%;
}
a{
    text-decoration: none;
    color: #000;
}
h1{
    color: #000;
}
center{
    margin-bottom: 5%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group{
    width: 600px;
}
.cancel-flex{
    width: auto;
}
label{
    font-size: 26px;
    color: #000;
    margin-bottom: 5px;
}
@media (min-width: 1366px) {
    body{
        background-image: url(../img/response_notebook.png);
    }
    header{
        margin-bottom: 5%;
    }
}
@media (min-width: 1920px) {
    body{
        background-image: url(../img/desktop-lex.png);
    }
    header{
        margin-bottom: 10%;
    }
}